.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.abctradehero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 550px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.44)), to(rgba(0, 0, 0, 0.44))), var(--image-65637ba5);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), var(--image-65637ba5);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #131313;
}

.quarters {
  position: relative;
  overflow: hidden;
  min-height: 600px;
  -o-object-fit: cover;
  object-fit: cover;
}

.abctradewrap {
  position: relative;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-block-11 {
  font-family: Sofiapro, sans-serif;
  font-size: 1.3em;
  line-height: 140%;
  font-weight: 200;
}

.abcform-grid {
  position: relative;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: #131313;
}

.smallhead {
  margin-bottom: 21px;
  font-family: Sofiapro, sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
}

.text-block-10 {
  font-size: 0.9em;
  line-height: 140%;
  font-weight: 300;
}

.form-block-custom {
  color: #131313;
}

.error-message-abctrade {
  background-color: #fcfcfc;
}

.formcenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Sofiapro, sans-serif;
  font-weight: 200;
}

.abclabel {
  color: #fff;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.formquarter {
  position: relative;
  min-height: 500px;
}

.image-7 {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.trio {
  display: -ms-grid;
  display: grid;
  width: 90vw;
  max-width: 1200px;
  margin: 25px auto;
  padding-right: 2%;
  padding-left: 2%;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.form-custom {
  position: relative;
  z-index: 90;
  display: -ms-grid;
  display: grid;
  overflow: visible;
  width: 80vw;
  max-width: 1500px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -o-object-fit: cover;
  object-fit: cover;
}

.button-abcgrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  max-width: 200px;
  min-width: 150px;
  padding: 21px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ed2a9d;
  color: #f7f5ed;
}

.button-abcgrid:hover {
  color: #ffd321;
}

.button-abcgrid.reverse {
  width: 100%;
  max-width: none;
  background-color: #fff;
  font-family: Sofiapro, sans-serif;
  color: #131313;
  font-size: 11px;
}

.type {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 50vw;
  padding-right: 15%;
  padding-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.formclear {
  height: 65px;
  background-color: transparent;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: Sofiapro, sans-serif;
}

.grid-8 {
  grid-column-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.trade2 {
  margin-right: auto;
  margin-bottom: 45px;
  margin-left: auto;
  padding: 19px 5%;
  background-color: #fcf9f3;
}

.text-block-12 {
  padding: 86px;
}

.abctradesmalls {
  padding: 44px;
  background-color: #fcf9f3;
}

.heading {
  margin-top: 0px;
  font-family: Sofiapro, sans-serif;
  font-weight: 300;
  text-align: center;
}

.grid-9 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.abctradesmallsquarterwrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.abctradesmimagecontainer {
  position: relative;
  overflow: hidden;
  width: 20vw;
  height: 20vw;
}

.div-block {
  width: 20vw;
  padding-top: 10px;
  padding-bottom: 31px;
}

.abctradesmtext {
  font-family: Sofiapro, sans-serif;
  font-size: 0.9rem;
  line-height: 120%;
  font-weight: 200;
}

.abctradesmtext.bottommg {
  margin-bottom: 9px;
  font-size: 0.8rem;
  font-weight: 200;
}

.abctradesmimage {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.copysub {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 50vw;
  padding-right: 15%;
  padding-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block-2 {
  background-image: var(--image-7b40fadb);
  background-position: 0px 0px;
  background-size: auto;
}

.faqwrap {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
}

.formiframe {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-height: none;
  min-height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.html-embed {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: auto;
  min-height: auto;
  min-width: 100%;
}

.formwrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-height: none;
  min-height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .quarters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .formquarter {
    min-height: auto;
  }

  .image-7 {
    position: relative;
    max-height: 50vw;
    max-width: 50vw;
    min-height: 50vw;
    min-width: 50vw;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .abcheroform {
    width: 90%;
  }

  .form-custom {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .type {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .copysub {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .image-7 {
    width: 40vw;
    height: 40vw;
    max-height: none;
    max-width: none;
    min-width: 20vw;
  }

  .trio {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-9 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .abctradesmimagecontainer {
    width: 30vw;
    height: 30vw;
  }

  .div-block {
    width: 30vw;
  }
}

@media screen and (max-width: 479px) {
  .formcenter {
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
  }

  .image-7 {
    width: 60vw;
    height: 60vw;
    min-height: 60vw;
    min-width: 60vw;
  }

  .form-custom {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .type {
    max-height: 300px;
    min-height: 300px;
    padding-right: 0%;
    padding-left: 0%;
  }

  .grid-8 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-9 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .abctradesmimagecontainer {
    width: 60vw;
    height: 60vw;
  }

  .div-block {
    width: 60vw;
  }

  .copysub {
    min-height: auto;
    padding-right: 10%;
    padding-left: 10%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 991px) {
  #w-node-a7438bf9-39af-0c86-55dd-6942663fd3e0-647cb945 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-a7438bf9-39af-0c86-55dd-6942663fd3e0-cd7cb947 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-a7438bf9-39af-0c86-55dd-6942663fd3e0-337cb948 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-a7438bf9-39af-0c86-55dd-6942663fd3e0-647cb945 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-a7438bf9-39af-0c86-55dd-6942663fd3e0-cd7cb947 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-a7438bf9-39af-0c86-55dd-6942663fd3e0-337cb948 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-a7438bf9-39af-0c86-55dd-6942663fd3e0-647cb945 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-a7438bf9-39af-0c86-55dd-6942663fd3e0-cd7cb947 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-a7438bf9-39af-0c86-55dd-6942663fd3e0-337cb948 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro-bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro-light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro-extralight.woff") format('woff'), url("/assets/fonts/sofiapro-ultralight.woff") format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro-mediumitalic.woff") format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro-italic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro-semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro-semibolditalic.woff") format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro-medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro-ultralightitalic.woff") format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url("/assets/fonts/sofiapro-lightitalic.woff") format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}